/*footer style*/
.container {
  border-top: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
  padding-bottom: 1.5rem;
}
.text {
  margin-top: 2rem;
}
.menu {
  padding: 0;
  list-style: none;
  float: right;
  width: 100%;
  margin-bottom: 0.5rem !important;
  color: black;
  display: inline-flex;
  justify-content: center;
}
.menu li {
  padding-right: 1rem;
}
.menu li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.repo {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
}

.stack {
  color: #f35815;
  cursor: pointer;
}

/*nav bar style*/
.navStyle {
  min-height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: #f0f0f0;

  top: 0;
  z-index: 10;
}
.navStyle a {
  color: black;
  text-decoration: none;
}
.navStyle ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navStyle #logo {
  flex: 70%;
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Lobster", sans-serif;
}
.navStyle li {
  position: relative;
  padding-left: 10rem;
}
